datasets>=4.8.4
gradio>=6.12.0
ipython>=8.37.0
jiwer>=4.0.0
librosa>=0.11.0
matplotlib>=3.10.7
numpy>=2.2.6
openai-whisper>=20250625
pandas>=2.3.3
scipy>=1.15.3
seaborn>=0.13.2
soundfile>=0.13.1
torch>=2.11.0
torchaudio>=2.11.0